<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msc.user.mapper.SysRoleMapper">

    <select id="getList" resultType="com.msc.user.entity.SysRole">
        select sr.*
        from sys_role sr
        <if test="userId != null">
            inner join sys_user_role sur on sur.sys_role_id = sr.id and sur.sys_user_id = #{userId,jdbcType=INTEGER}
        </if>
        where 1 = 1
        <if test="roleId != null">
            and sr.id = #{roleId,jdbcType=INTEGER}
        </if>
        order by sr.id asc
        <if test="page != null">
            limit #{page.size} offset #{page.offSet}
        </if>
    </select>
    <select id="getPageCount" resultType="com.msc.common.base.PageEntity">
        select case when mod(total,#{page.size}) > 0 then total/#{page.size} + 1 else total/#{page.size} end pageCount from
        (select
        count(1) total
        FROM sys_role sr
        <if test="userId != null">
            inner join sys_user_role sur on sur.sys_role_id = sr.id and sur.sys_user_id = #{userId,jdbcType=INTEGER}
        </if>)a
    </select>
    <select id="getRolesByUserId" resultType="com.msc.user.entity.SysRole">
        select sr.*
        from sys_role sr
        left join sys_user_role sur on sur.sys_role_id = sr.id
        where sur.sys_user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>
